{% import "macros.html" as macros %}
{% include "b_header.html" %}

<form action="">

<div class="wrapper">
    {{ macros.list_panel(aGroups, sSelGroup, "group", sGroupFilter) }}
    {% if sSelGroup %}
    {{ macros.tree_panel(aCategories, sSelCategory, "category", aOpenedCategories, sCategoryFilter) }}
        {% if sSelCategory %}
            {{ macros.list_panel(aAccounts, sSelAccount, "account", sAccountFilter) }}
            {% if sSelAccount %}
            {{ macros.form_text_fields(aAccountFieldsList,"account") }}
            {% endif %}
        {% endif %}
    {% endif %}
</div>

</form>
{% include "b_footer.html" %}